 <!--  section menu -->
  <section id="pushmenu-right" class="pushmenu pushmenu-right side-menu">
    <a id="menu-sidebar-close-icon" class="menu-close"></a>
    <ul class="navmenu">
      <li><%= link_to 'now', pages_now_path %></li>
      <li><%= link_to 'about', pages_about_path %></li>
      <li><%= link_to 'Recents Works', pages_works_path %></li>
      <li><%= link_to 'Writings', pages_writings_path %></li>
      <li><%= link_to 'Travel', pages_world_path %></li>
      <li><%= link_to 'Contact', pages_contact_path %></li>
    </ul>
    <hr class="dark" />
    <div>

      <ul class="social">
        <li><a href="https://github.com/marcusbey" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/romainboboe/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      <ul class="social">
        <li><a href="https://www.twitter.com/romainbey" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/bey.marcus/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/mbey3" target="_blank"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>
  </section>
<!--   End of section menu -->


<!--   section home -->
  <section id="home">
    <div id="map" style="width: 18%; height: 100%"> </div>
    <%= render 'shared/banner' %>
    <div class="box-transition">
      <p> what i'm doing
        <%= link_to "now", pages_now_path, { :class=>"btn btn-warning home-btn" } %>
      </p>
    </div>
  </section>
<!--   End of section home -->


<!--   section now  -->

<!-- End of section now -->








  <div class="side-menu-btn-fix ">
    <a id="menu-sidebar-list-icon">
      <%= image_tag('logo1.svg', id: 'logo') %>
    </a>
  </div>


  <%= javascript_include_tag 'plugin/glitch' %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAp1uREu2TPA8X76XFYapEZZ6EwzHeWWSs"></script>
  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
  var handler = Gmaps.build('Google');
  mapStyle = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural.landcover","elementType":"geometry.fill","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#eaf6d7"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]}];

  handler.buildMap({ provider: { styles: mapStyle, draggable: true, zoomControl: true, scrollwheel: true, disableDoubleClickZoom: true }, internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 0) {
  handler.getMap().setZoom(2);
  } else if (markers.length == 1) {
  handler.getMap().setZoom(3);
  }
  });

  });

  <% end %>
  <% end %>

<script type="text/javascript">
    $(function(){
        //prepare Your data array with img urls
        var dataArray=new Array();
        dataArray[0]= "<%= asset_path('logo1.svg')%>";
        dataArray[1]= "<%= asset_path('logo2.svg')%>";
        dataArray[2]= "<%= asset_path('logo3.svg')%>";

        //start with id=0 after 5 seconds
        var thisId=0;

        window.setInterval(function(){
            $('#logo').attr('src', dataArray[thisId]);
            thisId++; //increment data array id
            if (thisId==3) thisId=0; //repeat from start
        },3000);
    });
</script>
