<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Romain BOBOE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0" />
  <title><%= @title || '2omain 3030Ξ' %></title>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  </head>
  <body>
  	 <!--  section menu -->
  	<div id="pushmenu-right" class="pushmenu pushmenu-right side-menu">
  	  <a id="menu-sidebar-close-icon" class="menu-close"></a>
  	  <ul class="navmenu">
  	    <li><%= link_to 'Home', pages_home_path(@pages_home, anchor: "home") %></li>
  	    <li><%= link_to 'Now',  pages_home_path(@pages_home, anchor: "now") %></li>
  	    <li><%= link_to 'About', pages_home_path(@pages_home, anchor: "about") %></li>
  	    <li><%= link_to 'Recents Works', pages_works_path %></li>
  	    <li><%= link_to 'Writings', pages_writings_path %></li>
  	    <li><%= link_to 'Travel', pages_world_path %></li>
  	    <li><%= link_to 'Contact', pages_contact_path %></li>
  	  </ul>
  	  <hr class="dark" />
  	  <div>
  	    <ul class="social">
  	      <li><a href="https://github.com/marcusbey" target="_blank"><i class="fa fa-github"></i></a></li>
  	      <li><a href="https://www.linkedin.com/in/romainboboe/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  	    </ul>
  	    <ul class="social">
  	      <li><a href="https://www.twitter.com/romainbey" target="_blank"><i class="fa fa-twitter"></i></a></li>
  	      <li><a href="https://www.instagram.com/bey.marcus/" target="_blank"><i class="fa fa-instagram"></i></a></li>
  	      <li><a href="https://www.facebook.com/mbey3" target="_blank"><i class="fa fa-facebook"></i></a></li>

  	    </ul>
  	  </div>
  	</div>

  	<div class="side-menu-btn-fix ">
  	  <a id="menu-sidebar-list-icon">
  	    <%= image_tag('logo1.svg', id: 'logo') %>
  	  </a>
  	</div>

  	<!--   End of section menu -->

    <%= yield %>

		<script type="text/javascript">
		    $(function(){
		        //prepare Your data array with img urls
		        var dataArray=new Array();
		        dataArray[0]= "<%= asset_path('logo1.svg')%>";
		        dataArray[1]= "<%= asset_path('logo2.svg')%>";
		        dataArray[2]= "<%= asset_path('logo3.svg')%>";

		        //start with id=0 after 5 seconds
		        var thisId=0;

		        window.setInterval(function(){
		            $('#logo').attr('src', dataArray[thisId]);
		            thisId++; //increment data array id
		            if (thisId==3) thisId=0; //repeat from start
		        },3000);
		    });
		</script>

    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'plugin/sidebar-menu' %>
    <%= yield(:after_js) %>
  </body>
</html>
