<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Romain BOBOE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0" />
  <title><%= @title || '2omain 3030Ξ' %></title>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/menu' %>
    <%= yield %>

		<script type="text/javascript">
		    $(function(){
		        //prepare Your data array with img urls
		        var dataArray=new Array();
		        dataArray[0]= "<%= asset_path('logo1.svg')%>";
		        dataArray[1]= "<%= asset_path('logo2.svg')%>";
		        dataArray[2]= "<%= asset_path('logo3.svg')%>";

		        //start with id=0 after 5 seconds
		        var thisId=0;

		        window.setInterval(function(){
		            $('#logo').attr('src', dataArray[thisId]);
		            thisId++; //increment data array id
		            if (thisId==3) thisId=0; //repeat from start
		        },2000);
		    });
		</script>

    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'plugin/sidebar-menu' %>
    <%= yield(:after_js) %>
  </body>
</html>
